@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
/* header */
.nav-container {
  border-bottom: 1px solid lightgray;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.nav-wrapper .nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper .nav-left .fa-instagram {
  position: relative;
  font-size: 30px;
  margin-right: 40px;
}

.nav-wrapper .nav-left .fa-instagram::after {
  content: "";
  width: 2px;
  height: 30px;
  background-color: #000;
  position: absolute;
  margin-left: 20px;
}
.nav-wrapper .nav-left p {
  font-size: 30px;
  font-family: "Lobster", cursive;
}
.nav-wrapper .nav-center input {
  width: 200px;
  height: 30px;
  border: none;
  background-color: rgb(245, 241, 241);
  border-radius: 3px;
  border: 1px solid lightgray;
  padding-left: 45%;
}
.nav-wrapper .nav-right {
  display: flex;
  width: 150px;
  justify-content: space-around;
}
.nav-wrapper .nav-right i {
  font-size: 25px;
}
/* main */
.main-wrapper {
  width: 100%;
}
main {
  width: 100%;
  height: 80%;
  padding: 40px;
  background-color: rgb(223, 215, 215);
}
main .main-feed {
  width: 470px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid gray;
}
main .main-feed .main-feed-header {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  height: 50px;
}
.main-feed-header i {
  position: absolute;
  right: 10px;
}
main .main-feed .main-feed-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 6px;
}
main .main-feed .main-picture {
  width: 100%;
  height: 500px;
}
main .main-feed .main-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .main-icon {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  background-color: #fff;
}
main .main-icon .icon-wrapper1 i {
  padding-right: 4px;
}
main .main-icon .icon-wrapper1 .fa-heart {
  color: red;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: #fff;
}
main .main-feed .main-counter {
  display: flex;
  margin-bottom: 7px;
  font-size: 15px;
  padding-left: 7px;
}
main .main-feed .main-counter img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}
.main-title {
  border-bottom: 1px solid lightgray;
  padding-left: 7px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}
.main-title .title-id {
  display: flex;
}

.main-title .title-id p {
  padding-right: 3px;
}
.main-title .time {
  color: gray;
}
.main-title .comment-id {
  display: flex;
  justify-content: space-between;
}
.main-title .comment-id .fa-heart {
  padding-right: 10px;
}
.add-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: gray;
  height: 40px;
  align-items: center;
  font-size: 13px;
  padding-right: 7px;
}
.add-comment input {
  height: 100%;
  width: 90%;
  outline: none;
  border: none;
  padding: 7px;
}
.add-comment button {
  border: 0;
  outline: 0;
  background-color: #fff;
  color: lightblue;
  cursor: pointer;
}

/* 자바스크립트 클래스생성 */
.comment-box {
  display: flex;
  flex-direction: column;
}
.wrapperComments {
  display: flex;
  justify-content: space-between;
}
.wrapperComments span {
  margin-right: 5px;
}
.comments-list {
  display: flex;
}
.heart {
  border: none;

  background-color: white;
}
.heart i {
  margin-right: 10px;
  color: red;
}
